/* Reset básico *//* Reset básico */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }



  /* header-navbar */
    
.container-header{ 
  padding: 20px ;
  background-color: rgb(255, 255, 255);
  display: flex;
justify-content: space-around;
}


.nav-menu{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}
.logo{
  display: flex;
}
.logo img{
  width: 100px;
  border-radius: 10%;
}
.nav-link{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(99, 98, 97);
}
.nav-link:hover{
  color:#f2a91a ;
  border-bottom: #f2a91a solid 2px;
}
.nav-list{
  text-decoration: none;
  display: flex;
  gap: 25px;
  list-style: none;
}
























































      