/* Reset básico *//* Reset básico */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }



  /* header-navbar */
    
.container-header{ 
  padding: 20px ;
  background-color: rgb(255, 255, 255);
  display: flex;
justify-content: space-around;
}


.nav-menu{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}
.logo{
  display: flex;
}
.logo img{
  width: 100px;
  border-radius: 10%;
}
.nav-link{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(99, 98, 97);
}
.nav-link:hover{
  color:#f2a91a ;
  border-bottom: #f2a91a solid 2px;
}
.nav-list{
  text-decoration: none;
  display: flex;
  gap: 25px;
  list-style: none;
}



/*slider*/       
.slider-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slider {
  display: flex;
  animation: slide 10s linear infinite;
}

.slider-item {
  width: 500px; /* Tamaño fijo de las imágenes */
 
  box-sizing: border-box; /* Incluye el padding dentro del tamaño total */
}

.slider img {
  width: 500px; /* Tamaño fijo para las imágenes */
  height: auto; /* Mantiene la proporción */
  flex-shrink: 0;
  padding: 10px;
}


@keyframes slide {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); } /* Desplaza todo el slider */
}
/*-- fin del slider-- */























































      