/* Reset básico *//* Reset básico */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }



  /* header-navbar */
    
.container-header{ 
  padding: 20px ;
  background-color: rgb(255, 255, 255);
  display: flex;
justify-content: space-around;
}


.nav-menu{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}
.logo{
  display: flex;
}
.logo img{
  width: 80px;
  border-radius: 10%;
}
.nav-link{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(99, 98, 97);
}
.nav-link:hover{
  color:#f2a91a ;
  border-bottom: #f2a91a solid 2px;
}
.nav-list{
  text-decoration: none;
  display: flex;
  gap: 25px;
  list-style: none;
}



/*slider*/       
.slider-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slider {
  display: flex;
  animation: slide 10s linear infinite;
}

.slider-item {
  width: 500px; /* Tamaño fijo de las imágenes */
 
  box-sizing: border-box; /* Incluye el padding dentro del tamaño total */
}

.slider img {
  width: 500px; /* Tamaño fijo para las imágenes */
  height: auto; /* Mantiene la proporción */
  flex-shrink: 0;
  padding: 10px;
}


@keyframes slide {
  0% { transform: translateX(0); }
  100% { transform: translateX(-121%); } /* Desplaza todo el slider */
}
/*-- fin del slider-- */



/*card*/

/* Estilos generales para el contenedor principal */
.productos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  background-color: #951717;
}

/* Estilo para cada tarjeta */
.card-wrapper {
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* Encabezado de la tarjeta con la imagen */
.card-header {
  width: 100%;
}

.card-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Contenido principal */
.card-main {
  background-color: #007BFF;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

/* Precio */
.card-precio {
  font-size: 18px;
  color: #4CAF50;
  text-align: center;
  margin: 10px 0;
}

/* Botón de compra */
.card-button {
  text-align: center;
  margin-bottom: 15px;
}

.btn-comprar {
  padding: 10px 15px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-comprar:hover {
  background-color: #0056b3;
}

/* Ajuste responsive para pantallas pequeñas */
@media (max-width: 768px) {
  .card-wrapper {
    width: 100%;
  }
}


















































      